.delivery {
}
.wrapper {
  display: flex;
  justify-content: flex-start;

  height: 100%;

  width: 100%;
}
.subtitle {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 8px;
  &:not(:last-child) {
    border-right: 1px solid var(--tr-brdr-clr__primary);
  }
}
