.delivery {
}
.gridWrapper {
  display: grid;
  grid-template-columns: 150px 100px 80px;

  height: 100%;
  width: 100%;
}
.flexWrapper {
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    border-right: 1px solid var(--tr-brdr-clr__primary);
  }
}
.subtitle {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 8px;

  font-size: 12px;
  font-weight: 400;

  color: rgba(122, 122, 122, 1);
}
.text {
  height: 100%;
  padding: 0 8px;
  text-align: start;
}
