.sectionItemContainer {
  display: grid;
  grid-template-columns: 1fr;
  // gap: 8px;

  padding: 0 8px;
  &.isOpen {
    & .icon {
      transform: rotate(0);
    }
  }
}

.sectionItem {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  gap: 8px;

  padding: 8px;

  border-bottom: 1px solid var(--tr-brdr-clr__primary);
}
.icon {
  transform: rotate(90deg);
  transition: var(--timing-function__main);
}
.nameWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.name {
  color: inherit;
}
.id {
  font-size: 10px;
}
