.Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  text-align: center;
  font-size: 14px;
  letter-spacing: 0.05em;

  padding: 0;
  color: inherit;

  border-style: none;
  overflow: hidden;
  border: 1px solid transparent;

  color: inherit;
  fill: inherit;
  cursor: default;

  background-color: var(--btn_bckgrnd-color);

  transition: all var(--timing-function__main);

  &:hover {
    background-color: var(--btn_bckgrnd-color-hover);
  }
  &:active {
    background-color: var(--btn_bckgrnd-color-active);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
.iconSvg {
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.ColoredBtn {
  padding: 8px 16px;
  background-color: var(--brand_clr__1);
  color: #fff;
  fill: #fff;

  // font-weight: 700;
  text-transform: uppercase;

  border-radius: 4px;
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: var(--brand_clr__1-hover);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  }
  &:active {
    background-color: var(--brand_clr__1-active);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
}
.BrandClrBtn {
  padding: 8px 16px;
  font-weight: 700;

  background-color: var(--brand_clr__1);
  color: #fff;
  fill: #fff;

  border-radius: 4px;
  border: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: var(--brand_clr__1-hover);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  }
  &:active {
    background-color: var(--brand_clr__1-active);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
}
.ErrorClrBtn {
  padding: 8px 16px;
  font-weight: 700;

  color: var(--clr-error);
  fill: var(--clr-error);

  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  &:hover {
    border-color: 2px solid var(--clr-error);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  }
  &:active {
    border-color: 2px solid var(--clr-error);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
}

.BorderBtn {
  border-radius: 4px;
  border: 2px solid transparent;
  background-color: transparent;
  &:hover {
    border-color: var(--brand_clr__1-hover);
    color: var(--brand_clr__1-hover);
    fill: var(--brand_clr__1-hover);
  }
  &:active {
    background-color: var(--brand_clr__1-01);
    border-color: var(--brand_clr__1-active);
    color: var(--brand_clr__1-active);
    fill: var(--brand_clr__1-active);
  }
}
.AcceptBtn,
.DeclineBtn,
.ResetBtn {
  padding: 4px 8px;
  border-style: none;
  border-bottom: 4px solid transparent;
  background-color: var(--btn-deciscon_clr__primary);
  &:hover {
    background-color: var(--btn-deciscon_clr__hover);
  }
  &:active {
    background-color: var(--btn-deciscon_clr__active);
  }
}

.AcceptBtn {
  &:hover {
    fill: rgb(118, 255, 108);
    border-color: rgb(118, 255, 108);
  }
}
.DeclineBtn {
  &:hover {
    fill: rgb(255, 59, 59);
    border-color: rgb(255, 59, 59);
  }
}
.ResetBtn {
  &:hover {
    fill: rgb(255, 255, 82);
    border-color: rgb(255, 255, 82);
  }
}
