.NotificationLight,
.NotificationDark {
  display: grid;
  grid-template-columns: min-content repeat(4, 1fr) min-content;
  grid-auto-rows: minmax(24px, min-content);
  gap: 8px;

  padding: 8px;
  font-size: 10px;

  border-radius: 4px;
  border: 2px solid;

  height: fit-content;
  width: 100%;
}
.NotificationLight {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}
.NotificationDark {
  border-color: var(--clr-dark);
  color: var(--clr-light);
}
.icon {
  grid-column: 1/2;
}
.title {
  grid-column: 2/6;
  font-size: 14px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}
.deleteMe{
  grid-column: 6/7;
}
.text {
  grid-column: 1/7;
  grid-row: 2/3;
  
  overflow: hidden;
  text-overflow: ellipsis;
}
.createdAt {
  grid-column: 4/7;
  grid-row: 3/4;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.success {
  fill: var(--clr-success);
  border-color: var(--clr-success);
}
.info {
  fill: var(--clr-info);
  border-color: var(--clr-info);
}
.error {
  fill: var(--clr-error);
  border-color: var(--clr-error);
}
.warning {
  fill: var(--clr-warning);
  border-color: var(--clr-warning);
}
.primary {
  fill: var(--clr-primary);
  border-color: var(--clr-primary);
}
