.box {
  display: flex;
  align-items: center;
  gap: 16px;

  position: relative;

  &:focus,
  &:hover {
    & .list {
      overflow: auto;
      opacity: 1;
      transform: scaleX(1);
      visibility: visible;
      pointer-events: all;
    }
  }
  &.isOpen {
    & .list {
      overflow: auto;
      opacity: 1;
      transform: scaleX(1);
      visibility: visible;
      pointer-events: all;
    }
  }
  & .list {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 101;

    min-width: 250px;

    padding: 9px 1px;

    transform-origin: right;
    transform: scaleX(0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    overflow: hidden;

    background-color: var(--brand_clr__2);
    box-shadow: var(--header-shadow);

    transition: all var(--timing-function__main);
  }
  & .openButton {
    fill: #fff;
    padding: 0;
    &:hover {
      fill: var(--brand_clr__1);
    }
    &:focus {
      fill: var(--brand_clr__1);

      & + .list {
        overflow: auto;
        opacity: 1;
        transform: scaleX(1);
        visibility: visible;
        pointer-events: all;
      }
    }
  }
}
