.pageAuth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.formAuth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  padding: 8px;

  width: 270px;
  height: 270px;
}
