.MobileFooter {
  display: grid;
  grid-template-columns: 40px repeat(4, 1fr) 40px;
  align-items: center;
  justify-items: center;

  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 100;

  color: #fff;

  width: 100%;
  min-height: 40px;
  height: fit-content;

  background-color: var(--brand_clr__2);
}
.gridLeft {
  grid-column: 1/2;
}
.gridCenter {
  grid-column: 2/6;
}
.gridRight {
  grid-column: 6/7;
}
