.background {
  min-width: 100%;
  background-color: rgba(222, 222, 222, 0.2);
}
.InspectionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 8px;
  margin: 0 auto;

  min-width: 200px;
  width: 100%;
  max-width: 320px;
  & .inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 100%;
  }
}
.outImgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;

  width: 100%;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-width: 100%;
}
