.header,
.headerDark {
  display: grid;
  grid-template-columns: 24px minmax(120px, 1fr) 30px;
  grid-template-rows: 30px;
  gap: 8px;
  align-items: center;
  align-content: center;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 6;

  width: 100%;
  padding: 0 8px;

  border-bottom: 1px solid transparent;
}
.Light {
  background-color: var(--brand_clr__2_light);
  color: var(--brand_clr__2);
  fill: var(--brand_clr__2);
  // border-bottom-color: var(--brand_clr__2_light);
  // box-shadow: var(--block-shadow);
}
.Dark {
  background-color: var(--brand_clr__2);
  color: #f0f0f0;
  fill: #f0f0f0;
  // border-bottom-color: var(--brand_clr__2);
}

.headerLink {
  padding: 4px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  cursor: pointer;

  transition: all var(--timing-function__main);
  &:hover,
  &:focus {
    text-decoration: underline;
    color: var(--brand_clr__1);
    outline-style: none;
  }
  & .subTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.titleInner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title {
  padding: 4px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
