.delivery {
  display: flex;
  flex-wrap: wrap;

  border-radius: 4px;
  overflow: hidden;

  border: 1px solid rgba(122, 122, 122, 0.8);

  transition: all var(--timing-function__main);
  &:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 8px rgba(0, 0, 0, 0.3);
  }
}
.owner,
.transporter,
.status,
.type,
.ttn,
.cost,
.comment {
  display: grid;
  gap: 4px;

  flex-grow: 1;
  flex-basis: 110px;

  min-width: fit-content;

  padding: 4px;
  outline: 1px solid rgba(122, 122, 122, 0.4);
}
.title {
  font-size: 10px;

  white-space: nowrap;

  color: rgba(122, 122, 122, 1);
}
