.cell,
.owner,
.transporter,
.status,
.type,
.ttn,
.cost,
.comment,
.createdAt,
.updatedAt,
.creator,
.updator,
.destination {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;

  // min-height: 50px;
  height: 100%;
  // max-height: 60px;

  min-width: fit-content;

  padding: 4px;
  border: 1px solid rgba(122, 122, 122, 0.15);
}

.inner {
  display: flex;
  gap: 4px;
  min-height: 16px;
}
.owner,
.ttn {
}
.destination,
.comment {
  max-height: fit-content;
}
.title {
  font-size: 12px;

  white-space: nowrap;

  color: rgba(122, 122, 122, 1);
}
.createdAt,
.updatedAt {
  & .time {
    font-size: 10px;
  }
}
