.statusBox {
  display: flex;
  align-items: center;

  gap: 8px;
}
.visible {
  fill: var(--clr-success);
  color: var(--clr-success);
}
.hidden {
  fill: var(--clr-warning);
  color: var(--clr-warning);
}
