.complectTable {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;

  padding: 4px 0;
}
.rowGrid {
  display: grid;
  grid-template-columns: 50px minmax(125px, 1fr) minmax(125px, 1fr) repeat(3, 90px);
}
.complectTableHead {
  color: rgba(122, 122, 122);
}
.complectTableBody {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
}
