.complectTable {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;

  padding: 4px;
}
.complectTableHead {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  gap: 8px;

  color: rgba(122, 122, 122);
}
.complectTableBody {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
}
