.Button {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-style: 'Roboto';
  font-size: 14px;
  font-weight: 700;

  padding: 8px 16px;

  border-style: none;
  border-radius: 4px;
  border: 2px solid transparent;

  transition: all var(--timing-function__main);

  &.disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}
.ColoredBtn {
  background-color: var(--brand_clr__1);
  color: #fff;
  fill: #fff;
  &:hover {
    background-color: var(--brand_clr__1-hover);
  }
  &:active {
    background-color: var(--brand_clr__1-active);
  }
}
// .PrimaryBtn {
//   color: #fff;
//   fill: #fff;
//   background-color: var(--btn_bckgrnd-color);
//   &:hover {
//     background-color: var(--btn_bckgrnd-color-hover);
//   }
//   &:active {
//     background-color: var(--btn_bckgrnd-color-active);
//   }
// }
.BorderBtn {
  border: 2px solid var(--brand_clr__1);
  background-color: transparent;
  &:hover {
    border-color: var(--brand_clr__1-hover);
    color: var(--brand_clr__1-hover);
    fill: var(--brand_clr__1-hover);
  }
  &:active {
    border-color: var(--brand_clr__1-active);
    color: var(--brand_clr__1-active);
    fill: var(--brand_clr__1-active);
  }
}

.AcceptBtn {
  border-style: none;
  border-bottom: 4px solid transparent;
  &:hover {
    border-color: rgb(118, 255, 108);
  }
}
.DeclineBtn {
  border-style: none;
  border-bottom: 4px solid transparent;
  &:hover {
    border-color: rgb(255, 59, 59);
  }
}
.ResetBtn {
  border-style: none;
  border-bottom: 4px solid transparent;
  &:hover {
    border-color: rgb(255, 255, 82);
  }
}
