.Dark {
  color: #fff;
  fill: #fff;

  & .theme {
    color: #fff;
    fill: #fff;
    background-color: var(--brand_clr__2);
  }
  & .listRow {
    color: #fff;
    fill: #fff;
    background-color: var(--brand_clr__4);
  }
  & .input {
    color: #fff;
    fill: #fff;
  }
  & .blockAction,
  & .listRowActions {
    color: var(--brand_clr__2);
    fill: var(--brand_clr__2);
    background-color: #fff;
  }
  & .blockAcion {
    &:active {
      // background-color: rgba(255, 255, 255, 0.5);
      opacity: 0.95;
    }
  }
}
.Light {
  color: var(--brand_clr__2);
  fill: var(--brand_clr__2);
  background-color: #fff;
  & .theme {
    color: var(--brand_clr__2);
    fill: var(--brand_clr__2);
    background-color: var(--brand_clr__2_light);
  }
  & .listRow {
    color: var(--brand_clr__2);
    fill: var(--brand_clr__2);
    background-color: #fff;
  }
  & .blockAction,
  & .listRowActions {
    color: #fff;
    fill: #fff;
    background-color: var(--brand_clr__4);
  }
  & .blockAcion {
    &:active {
      // background-color: rgba(255, 255, 255, 0.5);
      opacity: 0.95;
    }
  }
  & .input {
    color: var(--brand_clr__2);
    fill: var(--brand_clr__2);
  }
  & .slick-prev:before,
  & .slick-next:before {
    color: var(--brand_clr__2);
  }
}

.theme,
.listRow,
.blockAcion,
.listRowActions {
  transition: var(--timing-function__main);
}
