.PageLogOut {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.07em;

  margin: 8px auto;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);

  width: 80%;
  height: 50%;
  @media screen and (min-width: 768px) {
    grid-column: 3/9;
    grid-row: 3/9;

    font-size: 24px;

    margin: 0;

    width: 100%;
    height: 100%;
  }
}
