.actionsBackdrop {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;
  z-index: 50;

  visibility: hidden;
  pointer-events: none;

  transition: all var(--timing-function__main);
  &.isOpen {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.05);

    visibility: visible;
    pointer-events: all;

    & .actionsList {
      transform: translate(0);
    }
  }
}
.actionsList {
  display: flex;
  gap: 4px;

  position: absolute;
  top: 0;
  right: 0;

  padding: 8px;

  transition: all var(--timing-function__main);

  @media screen and (max-width: 768px) {
    flex-direction: column;
    flex-wrap: wrap-reverse;
    width: fit-content;
    height: 100%;

    transform: translateY(-100%);
  }
  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    transform: translateX(100%);
  }
}
