.menu,
.menuOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  width: fit-content;
  height: fit-content;
  position: relative;

  // width: 100%;
  // height: 100%;
  & .navList {
    display: block;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 105;

    min-width: 230px;

    max-height: 0;

    pointer-events: none;
    visibility: hidden;

    overflow: hidden;
    fill: #fff;

    background-color: var(--brand_clr__2);
    box-shadow: var(--header-shadow);

    transition: all var(--timing-function__main);
  }
  & .navLink,
  & .navLinkActive {
    display: flex;
    align-items: center;
    gap: 8px;

    text-align: left;

    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.06em;

    width: 100%;
    color: #fff;

    padding: 8px 16px;

    background-color: inherit;
    border-style: none;
    border: 1px solid transparent;
    transition: all var(--timing-function__main);
    &:hover {
      background-color: var(--brand_clr__1);
    }
  }
  & .navLinkActive {
    background-color: var(--brand_clr__1);
  }
  & .button {
    fill: #fff;
    &:hover {
      fill: var(--brand_clr__1);
      background-color: rgba(254,254,254,0.2);
    }
    &:active {
      fill: var(--brand_clr__1);
      background-color: rgba(254,254,254,0.1);
    }
  }
}
.menuOpen {
  & .navList {
    overflow: auto;
    opacity: 1;
    max-height: 60vh;
    visibility: visible;
    pointer-events: all;
  }
}
