.navLink,
.navLinkActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  text-align: left;

  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  height: 100%;
  min-width: 5px;

  // width: 100%;
  color: #fff;

  fill: #fff;

  padding: 2px;

  background-color: inherit;
  border-style: none;
  border: 1px solid transparent;
  // transition: all var(--timing-function__main);
  &:hover {
    background-color: var(--brand_clr__1);
  }
}
.navLinkActive {
  background-color: var(--brand_clr__1);
}
.linkTitle {
  font-size: 8px;
  text-align: center;
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}