.menu {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 100%;
  height: 100%;
}
.navList {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-auto-rows: auto;

  // min-width: 230px;
  max-width: 270px;

  box-shadow: var(--header-shadow);

  transition: all var(--timing-function__main);
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    max-width: 90%;
  }
}
