.header,
.headerWithSearch {
  display: flex;

  height: 30px;
  // grid-template-rows: 30px;
  align-content: center;
  align-items: center;
  gap: 8px;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;

  width: 100%;
  padding: 0 8px;

  overflow: visible;
}

.Light {
  background-color: var(--brand_clr__2_light);
  color: var(--brand_clr__2);
  fill: var(--brand_clr__2);
}
.Dark {
  background-color: var(--brand_clr__2);
  color: #f0f0f0;
  fill: #f0f0f0;
}
.link {
  &:hover,
  &:focus {
    outline-style: none;
  }
}
.title {
  flex-grow: 1;

  padding: 4px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn {
  padding: 0;
  &:hover {
    fill: var(--brand_clr__1);
    background-color: rgba(254, 254, 254, 0.2);
  }
  &:active {
    fill: var(--brand_clr__1);
    background-color: rgba(254, 254, 254, 0.1);
  }
  @media screen and (min-width: 768px) {
    & .svg {
      transform: rotate(90deg);
    }
  }
}
