// .refunds,
// .products,
// .orders,
.admin,
.pageGrid {
  height: 100%;
  max-height: 100%;
  max-width: 100%;

  overflow: auto;
  @media screen and (max-width: 768px) {
  }
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 4px;

    padding: 4px;
  }
}
// .products,
// .refunds,
// .orders,
.pageGrid {
  grid-template-rows: repeat(10, 1fr);
}
.admin {
  grid-auto-rows: 60px;
}
.home {
  display: grid;
  grid-template-columns: 1fr;

  height: 100%;
  max-height: 100%;
  max-width: 100%;

  overflow: auto;
}
