.topInfo {
  display: grid;
  grid-template-columns: 1fr;

  width: max-content;
  min-width: 250px;
  max-width: 100%;

  padding: 8px;

  @media screen and (min-width: 480px) and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}
