.gridFirst {
  grid-column: 1/6;
  grid-row: 1/5;
}

.gridSecond {
  grid-column: 7/11;
  grid-row: 1/6;
}
.BlockUsers {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;

  padding: 8px;
}
.usersListBlock {
  width: max-content;
  max-width: 100%;
  min-height: 80vh;
  height: max-content;
  max-height: 100%;
}
