.inputImg,
.inputImgNotActive {
  position: relative;

  overflow: hidden;

  fill: gray;
  color: gray;

  border-radius: 4px;
  outline: 2px solid gray;

  cursor: pointer;
  background-color: inherit;
  // transition: all var(--timing-function__main);
}
.inputImg {
  &:hover,
  &:focus,
  &:focus-within {
    outline-color: var(--brand_clr__1);
    color: var(--brand_clr__1);
    fill: var(--brand_clr__1);
    // transform: scale(1.25);
    z-index: 10;
    & .labelInner {
      border-color: var(--brand_clr__1);
    }
  }
}
.inputImgPreview {
}
.inputLabel {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  min-height: 120px;
  max-height: 150px;
  min-width: 120px;
  max-width: 120px;
  color: inherit;

  background-color: inherit;

  transition: all var(--timing-function__main);

  &:hover {
    & .previewActions {
    }
  }
}

.previewActions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-rows: 40px;

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 40px;

  z-index: 10;

  // background-color: rgba(0, 0, 0, 0.3);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3494397759103641) 100%);
}
.actionBtn {
  fill: #fff;

  &:hover {
    fill: var(--brand_clr__1);
    background-color: rgba(254, 254, 254, 0.3);
  }
}

.labelInner {
  display: flex;
  align-items: center;
  justify-content: center;

  // width: 80%;
  // height: 80%;

  border-radius: 50%;
  border: 2px solid rgb(157, 157, 157);
}
.labelInnerImg {
  display: block;

  height: 100%;
  width: 100%;
}
.bigModalImgBox {
  max-height: 100%;
  min-width: 250px;
  width: 600px;
  max-width: 100%;

  overflow: hidden;
  border-radius: 4px;
}
.bigModalImg {
  max-height: 100%;
  max-width: 100%;
}
