.inputBox {
  position: relative;

  margin-top: 12px;
  width: 100%;
  height: 35px;
  &:hover,
  &:focus,
  &:focus-visible,
  &:focus-within {
    & .input {
      border-color: var(--brand_clr__1);
      outline: 1px solid var(--brand_clr__1);
    }
    & .label {
      color: var(--brand_clr__1);
    }
    & .textarea {
      border-color: var(--brand_clr__1);
      outline: 1px solid var(--brand_clr__1);
    }
  }
}
.input {
  display: block;
  width: 100%;
  height: 100%;

  padding: 2px 8px;
  border-radius: 4px;
  font-size: 14px;
  border: 2px solid var(--icon-clr__primary);

  transition: all var(--timing-function__main);
}
.label {
  position: absolute;
  top: 0;
  left: 12px;
  font-size: 12px;

  letter-spacing: 0.05em;
  padding: 0 4px;

  background-color: #fff;
  transform: translateY(-50%);
  transition: all var(--timing-function__main);
}
