.Backdrop {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1300;

  // color: inherit;
  // fill: inherit;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  animation: BackdropAnimation 1 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;

  min-width: 200px;

  min-height: 50px;
  max-width: 98%;
  max-height: 98%;

  // color: inherit;
  // fill: inherit;

  border-radius: 4px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);

  animation: ModalAnimation 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.closeModal {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 150;

  font-size: 16px;
  // color: black;
  // fill: black;

  width: 30px;
  height: 30px;
  padding: 0;

  border-style: none;
  border: 1px solid transparent;

  // background-color: rgba(254, 254, 254, 0.1);
  background-color: rgba(0, 0, 0, 0.2);
  &:hover {
    color: #fff;
    fill: #fff;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@keyframes BackdropAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes ModalAnimation {
  from {
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
