.actionBtn {
  display: flex;
  flex-direction: column;

  position: relative;

  border-radius: 4px;
  font-size: 12px;
  color: #010101;
  fill: #010101;

  gap: 4px;
  width: 36px;
  height: 36px;

  cursor: pointer;
  transition: all var(--timing-function__main);
  &:hover {
    background-color: rgba(122, 122, 122, 0.3);
    fill: var(--brand_clr__1);
    color: var(--brand_clr__1);
  }
}

.listItem {
  position: relative;

  width: 36px;
  height: 36px;
  &:hover {
    & .actionTitle {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
      transform: translateX(-50%) scale(1);
    }
  }
}
.actionTitle {
  position: absolute;
  top: calc(100% + 3px);
  left: 50%;
  z-index: 10;

  padding: 6px;

  min-width: 100%;

  font-size: 11px;
  color: #fff;

  transform-origin: top center;
  transform: translateX(-50%) scale(0.2);

  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: all var(--timing-function__main);
  &::after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: rgba(0, 0, 0, 0.8);
    border-width: 5px;
    margin-left: -5px;
  }
}
