.header {
  display: grid;
  grid-template-columns: min-content 1fr repeat(2, 30px);
  grid-template-rows: 30px;
  align-items: center;
  justify-items: center;
  gap: 8px;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1001;

  width: 100%;

  padding: 0 8px;
  background-color: var(--brand_clr__2);
  box-shadow: var(--header-shadow);

  fill: #fff;
}
.logo {
  &Link {
    display: flex;
    align-items: center;
    justify-content: center;

    color: transparent;
    background-color: var(--brand_clr__1);

    width: fit-content;
    height: 100%;
    min-width: 28px;
    padding: 8px;

    cursor: pointer;
  }
  &Text {
    text-align: center;
    font-family: 'Ralaway', sans-serif;
    font-size: 22px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 0.09em;
    color: var(--brand_clr__2);

    cursor: pointer;
  }
}





