.title,
.checkboxColl,
.checkboxCollHead,
.actions,
.coll {
  display: flex;
  align-items: center;

  padding: 4px 8px;

  height: 100%;

  color: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;

  background-color: inherit;
}
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.coll {
  &:hover {
    background-color: rgba(103, 202, 255, 0.5);
  }
  &.selected {
    background-color: rgba(103, 202, 255, 0.8);
  }
  & .cellInner {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.actions,
.checkboxColl,
.checkboxCollHead {
  justify-content: center;

  padding: 0;
}
.cellInnerWrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;

  height: 80%;
  width: 100%;
}
.empty {
  justify-content: center;
}
.category {
}

.text {
}
.approvedStatus,
.availability,
.visibilityStatus {
  justify-content: center;
}
.date {
  justify-content: center;
}
.number {
  justify-content: flex-end;
}
.actionsBtn {
  // transition: all var(--timing-function__main);
  &:hover {
    background-color: rgba(238, 238, 238, 0.4);
  }
  &:active {
    background-color: rgba(238, 238, 238, 0.2);
  }
}
.collDate {
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}
