.title,
.checkboxColl,
.checkboxCollHead,
// .actions,
.coll {
  display: flex;
  align-items: center;

  padding: 4px 8px;

  height: 100%;

  color: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;

  background-color: inherit;
}
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.coll {
  &:hover {
    background-color: rgba(103, 202, 255, 0.5);
  }
  &.selected {
    background-color: rgba(103, 202, 255, 0.8);
  }
  & .cellInner {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.checkboxColl,
.checkboxCollHead {
  justify-content: center;

  padding: 0;
}

.actions,
.actionsOpen {
  position: relative;
  justify-content: center;

  padding: 0;

  height: 100%;

  // overflow: hidden;
}
.actionsOpen {
  // transform: scaleY(1.1);

  & .rowActions {
    max-width: fit-content;

    box-shadow: 0 0 5px gray;

    transform: translateX(40px);
  }
}
.rowActions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
  // max-width: 0;
  height: 100%;

  transform: translateX(-100%);

  border-radius: 4px;
  background-color: #fff;

  transition: all var(--timing-function__main);
}
.cellInnerWrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;

  height: 80%;
  width: 100%;
}
.empty {
  justify-content: center;
}
.category {
}

.text {
}
.status,
.approvedStatus,
.availabilityStatus,
.visibilityStatus,
.typeStatus {
  justify-content: center;
}
.date {
  justify-content: center;
}
.number {
  justify-content: flex-end;
}
.actionsBtn {
  // transition: all var(--timing-function__main);
  &:hover {
    background-color: rgba(238, 238, 238, 0.4);
  }
  &:active {
    background-color: rgba(238, 238, 238, 0.2);
  }
}
.collDate {
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}
