.Notifications {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr 10px;

  border-radius: 4px;
  overflow: hidden;

  min-height: 300px;
  min-width: 260px;
}
.headerGrid {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-auto-rows: max-content;
  gap: 4px;
  z-index: 5;

  padding: 8px 50px 8px 8px;

  box-shadow: var(--header-shadow);
}
.openButton {
  fill: #fff;
  padding: 0;
  &:hover {
    fill: var(--brand_clr__1);
  }
  &:focus {
    fill: var(--brand_clr__1);
  }
}
.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;

  max-height: 80vh;

  padding: 8px 4px;

  overflow: auto;

  transition: all var(--timing-function__main);
}
.Light {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}
.Dark {
  background-color: var(--brand_clr__2);
  color: var(--clr-light);
}
.deleteBtnGrid{
  fill: var(--clr-error);
}