.Notifications {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr 10px;

  border-radius: 4px;
  overflow: hidden;

  min-height: 300px;
  min-width: 260px;

  max-width: 100%;

  @media screen and (max-width: 768px) {
    width: 100vw;
  }
  @media screen and (min-width: 768px) {
    width: 50vw;
  }
}
.headerGrid {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-auto-rows: max-content;
  gap: 4px;
  z-index: 5;

  padding: 8px 50px 8px 8px;

  // box-shadow: var(--header-shadow);
  border-bottom: 1px solid rgba(155, 155, 155, 0.3);
}
.openButton {
  // color: #fff;
  background-color: var(--btn_bckgrnd-color);

  &:hover {
    background-color: var(--btn_bckgrnd-color-hover);
  }
  &:active {
    background-color: var(--btn_bckgrnd-color-active);
  }

  padding: 0;
  &:hover {
    fill: var(--brand_clr__1);
  }
  &:focus {
    fill: var(--brand_clr__1);
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;

  max-height: 80vh;

  padding: 8px 4px;

  overflow: auto;

  transition: all var(--timing-function__main);
}
.counterGrid {
  text-align: right;
}
.Light {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}
.Dark {
  background-color: var(--brand_clr__2);
  color: var(--clr-light);
}
.deleteBtnGrid {
  fill: var(--clr-error);
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  padding: 20px;
}
