.actionsList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;

  overflow: visible;
}
.listItem {
  position: relative;

  width: 36px;
  height: 36px;
  &:hover {
    & .actionTitle {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }
  }
}