.app,
.appDark {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  width: 100%;
  color: #010101;
  width: 100%;
  min-height: 100vh;

  // overflow: hidden;
  background-color: #fafafa;
  transition: background-color var(--timing-function__main);
  @media screen and (max-width: 480px) {
    min-height: 100vh;
  }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    min-height: 320px;
    height: 100vh;
  }
  @media screen and (min-width: 768px) {
    height: 100vh;
    max-height: 130vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }
  @media screen and (min-width: 1000px) {
    height: 100vh;
  }
}
.appDark {
  color: #fff;
  background-color: #242424;
}
