.statusBox {
  display: flex;
  align-items: center;

  gap: 4px;

  font-size: 12px;

  min-width: 100%;

  cursor: default;

  text-transform: uppercase;
}
.available,
.visible,
.isStandart,
.success {
  fill: var(--clr-success);
  color: var(--clr-success);
}

.hidden,
.awaitingOnStock,
.isCommission,
.pending {
  fill: var(--clr-warning);
  color: var(--clr-warning);
}
.notAvailable,
.rejected {
  fill: var(--clr-error);
  color: var(--clr-error);
}

.default {
  fill: var(--clr-default);
  color: var(--clr-default);
}
