.RefundInspection {
}
.DecisionZone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  padding: 8px;

  background-color: rgba(222, 222, 222, 0.2);
  & .inputs {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 8px;
  }
}
.ItemRefundInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;

  padding: 8px;
}
.outImgs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  min-width: 100%;
}
