.formContainer {
  padding: 8px;
}
.form,
.notActiveForm {
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;

  padding: 8px;

  border: 2px solid gray;
  border-radius: 4px;
  &:focus-visible,
  &:focus,
  &:focus-within,
  &:hover {
    border-color: var(--brand_clr__1);
    & .formTitle {
      color: var(--brand_clr__1);
    }
  }
}
.notActiveForm {
  pointer-events: none;
  opacity: 0.5;
}
.inputs {
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}
.formTitle {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  padding: 2px;
  background-color: #fff;
  transition: color var(--timing-function__main);
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 4px;
  width: 100%;
  border-radius: 0;
  border-style: none;
}
.iconClassName {
}
.btnName {
  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (max-width: 767px) {
    // display: none;
    font-size: 8px;
  }
  @media screen and (min-width: 768px) and (max-width: 999px) {
    font-size: 11px;
  }
  @media screen and (min-width: 1000px) {

    font-size: 14px;
  }
}
