.statusBox {
  display: flex;
  align-items: center;

  gap: 8px;
}
.success {
  fill: var(--clr-success);
  color: var(--clr-success);
}
.pending {
  fill: var(--clr-warning);
  color: var(--clr-warning);
}
.rejected {
  fill: var(--clr-error);
  color: var(--clr-error);
}
