.sectionItemContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(40px, min-content);
  gap: 8px;

  padding: 4px;

  border-top: 2px solid var(--table-row-brdr-clr__primary);
  border-bottom: 2px solid var(--table-row-brdr-clr__primary);

  transition: all var(--timing-function__main);
  &.isOpen {
    border-color: var(--brand_clr__1);
    & .icon {
      transform: rotate(0);
    }
    & .openBtn {
      fill: var(--brand_clr__1);
    }
  }
}

.sectionItem {
  display: grid;
  grid-template-columns: 1fr 32px;
  align-items: center;
  gap: 8px;

  padding: 4px;
}
.icon {
  transform: rotate(90deg);
  transition: var(--timing-function__main);
}
.openBtn {
  border-radius: 4px;

  background-color: transparent;
}
.name {
}
.id {
  font-size: 11px;
}
.nameWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
