.DesktopFooter {
  display: grid;
  grid-template-columns: 40px repeat(10, 1fr) 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;

  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 10;

  color: #fff;

  width: 100%;
  height: 40px;

  background-color: var(--brand_clr__2);
}
.gridMenu{
  grid-column: 12/13;
}