.DesktopFooter {
  display: grid;
  grid-template-columns: 30px repeat(10, 1fr) 30px;
  grid-template-rows: 30px;
  align-items: center;
  justify-content: center;
  gap: 8px;

  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 10;

  color: #fff;

  width: 100%;

  background-color: var(--brand_clr__2);
}
.gridMenu{
  grid-column: 12/13;
}