.actionItem {
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: left;

  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.06em;

  width: 100%;
  // color: #fff;
  // fill: #fff;

  background-color: inherit;


  &:hover {
    background-color: var(--brand_clr__1);
  }
}
.actionItemDbl {
  display: flex;
  align-items: center;

  text-align: left;

  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.06em;

  width: 100%;
  // color: #fff;
  // fill: #fff;

  background-color: inherit;

}
.actionBtn {
  justify-content: start;
  width: 100%;
  padding: 8px;
}
.gridChangeBtn,
.gridChangeBtnActive {
  justify-content: start;
  width: 100%;
  padding: 8px;
  

}
.gridChangeBtn{

}
.gridChangeBtnActive {
  background-color: var(--brand_clr__1);
  &:hover {
  background-color: var(--brand_clr__1);
  }
}
