.cell {
  padding: 4px;
  &.index {
    width: 50px;
  }
  &.title {
    color: rgb(122, 122, 122);
    font-size: 12px;
  }
  &.name {
    text-align: start;
    width: 140px;
  }
  &.sku {
    text-align: start;
    width: 140px;
  }
  &.quantity {
    text-align: center;
    width: 90px;
  }
  &.price {
    text-align: end;
    width: 90px;
  }
  &.sale {
    text-align: end;
    width: 80px;
  }
  &.summ {
    text-align: end;
    width: 90px;
  }
  &.saleSumm {
    text-align: end;
    width: 125px;
  }
  &.atribute_1,
  &.atribute_2 {
    text-align: end;
    width: 100%;
  }
}
